* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.background {
    width: 100%;
    background-image: url('/images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 70px 100px 80px 100px;
}

.heading_row {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.heading_row > h1 {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.625rem;
}

.todo_input {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.todo_input > input[type="text"] {
    min-width: 500px;
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 15px 12px;
}

.section_container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: hsl(235, 21%, 11%);
    height: 100%;
    padding: 0px 150px 300px 150px;
}

.todo_list {
    position: relative;
    top: -50px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    background-color:hsl(235, 24%, 19%);
    color: #fff;
    border-radius: 4px;
}

.todo {
    width: 100%;
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 1px 0px hsl(233, 14%, 35%);
}

.todo > input[type="checkbox"] {
    display: none;
}

.todo > label {
    position: relative;
    
}

.todo > label::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -44px;
    top: -4px;
    transform: scale(0) rotateZ(180deg); 
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked ~ label {
    text-decoration: line-through;
}
input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotate(0deg);
    background: url("/images/icon-check.svg"), linear-gradient(to bottom, rgb(119, 182, 233) 20%,rgb(182, 126, 184));
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.todo > label::after {
    content: "";
    border: 1px solid hsl(231, 12%, 21%);
    width: 20px;
    height: 20px;
    position: absolute;
    left: -45.6px;
    top: -6px;
    border-radius: 50%;
}

.todo > label:hover::after {
    border: 1px solid rgb(182, 126, 184);
}

.todo > input, .todo > label {
    cursor: pointer;
}
.todo > label {
    color: hsl(234, 39%, 85%);
    margin-left: 40px;
}

.todo > label:hover {
    color: hsl(236, 33%, 92%);
}


.todo > img {
    cursor: pointer;
    margin-left: auto;
}

.todo_footer_row {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.todo_footer_row > span:first-child, .todo_footer_row > span:last-child, .todo_status > span {
    font-size: 13px;
    color: hsl(233, 14%, 35%);
    letter-spacing: 0.034rem;
    cursor: pointer;
    line-height: 1.5;
}

.todo_footer_row > span:first-child {
    flex: 1;
}

.todo_status {
    flex: 2;
}

.todo_status > span {
    font-size: 15px;
    margin-left: 10px;
    line-height: 1.5;
}

.todo_status > span:hover, .todo_footer_row > span:last-child:hover  {
    color: hsl(236, 33%, 92%);
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.color {
    color: hsl(220, 98%, 61%) !important;
}

@media only screen and (max-width: 768px) {

    .heading_row {
        max-width: 100%;
    }

    .todo_input > input[type="text"] {
        min-width: 100%;
    }
    
    .todo_list {
        min-width: 122%;
        /* max-width: calc(100% - 200px); */
    }
}

@media only screen and (max-width: 680px) { 
    .todo_list {
        min-width: 133%;
    }
}

@media only screen and (max-width: 550px) {
    .background {
        padding: 70px 30px 80px 30px;
    }
    .heading_row {
        max-width: 350px;
    }

    .todo_input > input[type="text"] {
        min-width: 350px;
    }
    
    .todo_list {
        min-width: 350px;
    }
}

@media only screen and (max-width: 520px) {
    .todo_list {
        min-width: 350px;
    }
}
